body {
  font-family: Arial;
  line-height: 160%;
  font-size: 12px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  min-width: 80px;
  padding: 10px;
  margin: 0;
}

input {
  border: 1px dotted #ccc;
  background: white;
  font-family: Arial;
  padding: 10px 20px;
  font-size: 12px;
  margin: 20px 10px 20px 0;
  color: black;
}

input:focus {
  background-color:#ffe4b5;
  outline: none;
}


tr:nth-child(even) {
  background-color: #f2f2f2;

}
table{
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}

th{
  background-color: #33334d;
  font-size: 18px;
  color: white;
  padding: 15px;
}

td {
  padding: 15px;
  text-align: left;
}
ul.menu{
  font-size: 14px;
}

header.black, footer.black, body.black{
 background-color: #0a0a0f;
}

div.w2p_flash{
  background-color: #1f1f2e;
  color: white;
  font-size: 14px;
}

div.main_content{
  padding: 16px;
}

.Category_Title{
  padding: 10px;
}

.graph_chart{
  border-radius: 5px;
  padding:10px;
  background-color: #f2f2f2;
}

.lifetracker_form{
  border-radius: 3px;
  background-color: #f2f2f2;
  padding: 20px;
  font-size: 14px;
}

.response_message{
  background-color: #9CA3AF;
}


.button, .btn{
  background-color: #879FC8;
  color: white;
  font-size: 12px;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}
