body {
  font-family: Arial;
}


input {
  border: 1px dotted #ccc;
  background: white;
  font-family: Arial;
  padding: 10px 20px;
  font-size: 12px;
  margin: 20px 10px 20px 0;
  color: black;
}

/* response when mouse hovers over any input */
input:focus {
  background-color:#ffe4b5;
  outline: none;
}

/* in lifeTracker.html, background color of the rows in table iether even or odd */
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(odd){
  background-color: #e6e6e6;
}

/* in lifeTracker.html line 98, style of the table */
table{
  margin: auto;
  width: 80%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}

/* in lifeTracker.html, style of the table titles */
th{
  background-color: #33334d;
  font-size: 18px;
  color: white;
  padding: 15px;
}

/* in lifeTracker.html, style of the rows in tables */
td {
  padding: 15px;
  text-align: left;
}

/* in layout.html, line 22, style of the flashing message when user is logged in or out */
div.w2p_flash{
  background-color: #1f1f2e;
  color: white;
  font-size: 14px;
}

/* in user.html, line 5 */
.user_info{
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* in index.html, line 12 */
.intro_box{
  background-color: white;
  color: black;
  text-align: center;
  border: 5px solid #e6e6e6;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom:10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}
/* in index.html, centers the button for login */
.intro_button{
  text-align: center;
}

/* loads the image as the background for the page  */
.index_main, .user_content, .main_content, .graph_content{
  background-image: url(../images/trianglify.png);
  height: 100%;
  padding: 15px;
}

/* in lifeTracker.html, line 51  */
.lifetracker_form{
  border-radius: 3px;
  background-color: #f2f2f2;
  padding: 20px;
  font-size: 14px;
}

/* in lifeTracker.html, line 27  */
.add_tables{
  text-align: center;
}

/* in graph.html, line 13 */
.graph_content{
  padding: 15px;
}
.graph_box{
  border-radius: 3px;
  background-color: white;
  padding: 15px;
}

/* in graph.html, style for buttons and charts  */
.tab, .chartlink, .home_btn{
  background-color: #879FC8;
  overflow: hidden;
}
.chartlink{
  margin-left: 8%;
}
.tab, .home_btn{
  border-radius: 3px;
}
.charts_info{
  padding: 10px;
}

/* in lifeTracker.html, style for buttons */
.lt_btn, .btn{
  background-color: #879FC8;
  border-radius: 3px;
  overflow: hidden;
}

header.black, footer.black, body.black{
 background-color: #0a0a0f;
}
