{{extend 'layout.html'}}
{{block head}}
{{end}}
<!DOCTYPE html>
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script src="https://unpkg.com/chart.js@2.7.2/dist/Chart.bundle.js"></script>
<script src="https://unpkg.com/vue-chartkick@0.5.0"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script type="text/javascript">
    var get_all_data_url = "{{=URL('api', 'get_all_data', user_signature=True)}}";
</script>
<html>

<body>
    <div id='graph' class="">
        <div class="Category_Title">
            <h2>Category Title</h2>
        </div>

        <!-- tab links -->
        <div class="tab">
            <button class="tablinks" v-on:click="chart(event, 'line')">Line Chart</button>
            <button class="tablinks" v-on:click="chart(event, 'area')">Area Chart</button>
            <button class="tablinks" v-on:click="chart(event, 'column')">Column Chart</button>
            <button class="tablinks" v-on:click="chart(event, 'bar')">Bar Chart</button>

        </div>

        <!-- charts -->
        <div class="">
            <div id="line" class="tabcontent"><line-chart :data="chartData"></line-chart></div>
            <div id="column" class="tabcontent"><column-chart :data="chartData"></column-chart></div>
            <div id="area" class="tabcontent"><area-chart :data="chartData"></area-chart></div>
            <div id="bar" class="tabcontent"><bar-chart :data="chartData"></bar-chart></div>
        </div>


        <div class="back">
            <p><a href="../default/lifeTracker"><button>Go back</button></a></p>
        </div>
    </div>

</body>

</html>
<script src="{{=URL('static', 'js/graph.js')}}"></script>
