{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var add_table_url = "{{=URL('api', 'add_table', user_signature=True)}}";
    // var get_post_list_url = "{{=URL('api', 'get_post_list')}}";
    // // Like callbacks.
    // var set_like_url = "{{=URL('api', 'set_like', user_signature=True)}}";
    // var get_likers_url = "{{=URL('api', 'get_likers')}}"
    // // Stars.
    // var set_stars_url = "{{=URL('api', 'set_stars', user_signature=True)}}";
    //
    // var set_thumb_url = "{{=URL('api', 'set_thumb', user_signature=True)}}";
    // var update_count_url = "{{=URL('api', 'update_count', user_signature=True)}}";

    var is_logged_in = {{= 'false' if auth.user is None else 'true' }};
</script>
{{end}}

<div class="main_content">

    <div id="vuediv" class="display:none">
        <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->

        <div class="add_table">
            <div class="container form_row">
                <div class="label quarter">
                    Category Title:
                </div>
                <div class="form threequarters">
                    <input v-model="table_title" placeholder="Enter the category title (i.e. water, walking, sleep)" />
                </div>
            </div>
            <div class="container form_row">
                <div class="label quarter">
                    Field Name:
                </div>
                <div class="form threequarters">
                    <input v-model="table_field" placeholder="Enter the name of the field you want to track (No Spaces, use underscore i.e. cups, steps, heart_rate)"></input>
                </div>
            </div>
            <div class="container form_row">
                <div class="label quarter">
                    Field Type:
                </div>
                <div class="form threequarters">
                    <select v-model="table_type" text="Field Type">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="INTEGER">INTEGER</option>
                        <option value="DECIMAL">DECIMAL</option>
                        <option value="TEXT">TEXT</option>
                        <option value="BOOLEAN">BOOLEAN</option>
                        <option value="TIMESTAMP">TIMESTAMP</option>
                    </select>
                </div>
            </div>
            <div class="container form_row">
                <div class="quarter"></div>
                <div class="threequarters">
                    <div class="submit">
                        <button id="add-table" v-on:click="add_table">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <h2>Submitted variables</h2>
        {{=BEAUTIFY(request.vars)}}

    </div>

    <script src="{{=URL('static', 'js/default_index.js')}}"></script>
